<nav class="navbar navbar-expand-sm navbar-light bg-light rounded">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <h1>Recruitment Center</h1>
    </a>
  </div>
</nav>
<div class="container-fluid container mt-2 dashboard">
  <form [formGroup]="addofferform" class="needs-validation" novalidate>
    <!--Title-->
    <div class="mb-3">
      <label for="job-title" class="form-label">Title</label>
      <input type="text" class="form-control" id="job-title" placeholder="Title" formControlName='title' required>
    </div>
    <!--Type-->
    <div class="mb-3">
      <label for="job-type" class="form-label">Type</label>
      <input type="text" class="form-control" id="job-type" placeholder="Full-Time/Part-Time" formControlName='type'
        required>
    </div>
    <!--Location-->
    <div class="mb-3">
      <label for="job-location" class="form-label">Location</label>
      <input type="text" class="form-control" id="job-location" placeholder="Location/Remote" formControlName='location'
        required>
    </div>
    <!--Job Description-->
    <div class="mb-3">
      <label for="job-description" class="form-label">Job description</label>
      <textarea class="form-control" id="job-description" rows="3" placeholder="Job description"
        formControlName='jobdescription' required></textarea>
    </div>
    <!--Skills Description-->
    <div class="mb-3">
      <label for="job-skills" class="form-label">Skill description</label>
      <textarea class="form-control" id="job-skills" rows="3" placeholder="Skill description"
        formControlName='skilldescription' required></textarea>
    </div>
    <!--Contact Email-->
    <div class="mb-3">
      <label for="contact-email" class="form-label">Contact address</label>
      <input type="email" class="form-control" id="contact-email" placeholder="name@example.com" formControlName='email'
        required>
      <div class="invalid-feedback">
        Please provide contact email-adress.
      </div>
    </div>
    <div class="mb-3">
      <button routerLink="/" type="button" class="btn btn-danger" style="margin-right:5px ;">Close</button>
      <button (click)="submitOffer()" type="submit" class="btn btn-success"
        data-bs-toggle="button">Submit</button>
    </div>
  </form>
</div>
